<ul class="list-style-none text-minify">
  <li>
    <strong><i class="fa fa-phone"></i> Helpline</strong>
    <span itemprop="telephone">
      <a href="tel:{{item.telephone}}">303-555-1212</a>
    </span>
  </li>
  <li>
    <strong><i class="fa fa-phone"></i> Helpline</strong>
    <span itemprop="telephone">
      <a href="tel:{{item.telephone}}">303-555-1212</a>
    </span>
  </li>
  <li>
    <span itemprop="email">
      <a href="mailto:email@example.com"><i class="fa fa-envelope"></i> E-mail</a>
    </span>
  </li>
  <li>
    <span itemprop="url">
      <a href="#" class="button button-blue button-small"><i class="fa fa-desktop"></i> Website</a>
    </span>
  </li>
  <li>
    <span itemprop="email">
      <a href="#" class="button button-blue button-small"><i class="fa fa-users"></i> Staff Listing</a>
    </span>
  </li>
</ul>
