<ul class="list-style-none flex text-minify">
  <li>
    <strong>Telephone</strong><br>
    <span itemprop="telephone">
      <a href="tel:303-555-1212">303-555-1212</a>
    </span>
  </li>
  <li>
    <c>Fax</c><br>
    <span itemprop="faxNumber">
      303-555-1212
    </span>
  </li>
  <li>
    <span itemprop="email">
      <a href="mailto:email@example.com" class=""><i class="fa fa-envelope"></i> E-mail</a>
    </span>
  </li>
  <li>
    <span itemprop="url">
      <a href="#" class=""><i class="fa fa-desktop"></i> Website</a>
    </span>
  </li>
  <li>
    <span>
      <a href="#" class=""><i class="fa fa-users"></i> Staff Listing</a>
    </span>
  </li>
</ul>
