<section class="campus-map-embed">
<a href="https://www.colorado.edu/map/?id=336#!m/193820"
  style="display:block; width:100%; height:300px; background-image:url(https://staticmap.concept3d.com/map/static-map/?map=336&loc=193820);">
  <span
    class="embed-map-label">
    View location on the Campus Map
  </span>
</a>
</section>
<section itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class=" padding-top">
  <span>Room 124, Regent Administration Center</span><br />
  <span>UCB 123</span><br />
  <span
    itemprop="streetAddress">1234 Regent Drive</span><br />
  <span
    itemprop="addressLocality">Boulder</span>,
  <span itemprop="addressRegion">CO  </span>
  <span itemprop="postalCode">80309</span>

</section>
